.ctn-animais{
  display: flex;
    flex-wrap: wrap;
    margin: 8%;
    font-family: "Caesar Dressing", system-ui;
}

.card-animal {
    background-color: #A7A000;
    margin: 2px solid;
    margin-left: 3%;
    margin-bottom: 3%;
    border-radius: 15px;
}

.ctn-animais > p {
    font-size: 2rem;
}